body{
    background-color:  #276bc4;
}
#Contenido{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color:  #276bc4;
    align-content: center;
    align-items: stretch;
}
#Contenido div{
    display: flex;
    flex-direction: column;
    background-color: gray;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
    padding: 10px;
    align-items: center;
}
h1{
    text-align: center;
    color: aliceblue;
    font-size: 50px;
}
h2{
    text-align: center;
    color: aliceblue;
    font-size: 30px;
}
p{
    color: white;
    font-size: 30px;
}
a{
    color: white;
    font-size: 20px;
}
button{ 
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}
@media (max-width: 768px) {
    label{
        font-size: 10px;
    }
    input{
        width: 130px;
    }
    button{
        font-size: 10px;
    }
}